# Ignore node_modules directory
node_modules/

# Ignore build and output directories
build/
dist/

# Ignore environment-specific configuration files
.env*

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore testing reports
coverage/
